.party {
  cursor: pointer;
  background-position: center;
  background-size: 80%;
  background-repeat: no-repeat;
  background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M13.16%2012.74L14%2014H12.5C12.35%2016.71%2012%2019.41%2011.5%2022.08L10.5%2021.92C11%2019.3%2011.34%2016.66%2011.5%2014H10L10.84%2012.74C8.64%2011.79%207%208.36%207%206C7%204.67392%207.52678%203.40215%208.46447%202.46447C9.40215%201.52678%2010.6739%201%2012%201C12.6566%201%2013.3068%201.12933%2013.9134%201.3806C14.52%201.63188%2015.0712%202.00017%2015.5355%202.46447C15.9998%202.92876%2016.3681%203.47995%2016.6194%204.08658C16.8707%204.69321%2017%205.34339%2017%206C17%208.36%2015.36%2011.79%2013.16%2012.74Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E'); 
  opacity: 0.6;
}
.party:hover {
  opacity: 1;
}
